BOT_USERNAME=pookiee_bot2.0
SESSION_ID=24360649417%3ALSYwrp862t8s7e%3A21%3AAYmzDwLs7Fx0UcGcdHxu7tIzUf0Lwk9noKi_mCByhw
OWNER_USERNAME=fx_smw ✘ aat_nnk25
AUTHORIZED_DEVS=fx_smw,aat_nnk,aat_nnk25,fx_sw
DATABASE_URL=sqlite:///god_mode_bot.db
POLL_INTERVAL=1
THREAD_BATCH_SIZE=20
LOG_LEVEL=INFO
